
  <div class="control-group">
    <%= f.label :name, :class => 'control-label required_asterisk' %>
	<div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel), disposition_types_path, :class => 'btn' %>
  </div>
