<div class='row-fluid'>
  <div class='span12'>
    <h2>New <%= t('activerecord.model.transport_setting') %></h2>
    <hr />
  </div>
</div>
<%= form_for @transport, html: { class: 'form-horizontal', id: 'new_transport_setting' } do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
<% end %>