Message: <%= @message %>

Membership_id: <%= @transaction.id %>
Member: <%= @transaction.member.uuid %>
CC type: <%= @transaction.credit_card_type %>
Campaign type: <%= @transaction.membership_type %>

We have scheduled this billing to be run in 30 days. 