Message: <%= @message %>

Membership_id: <%= @transaction.id %>
User: <%= @transaction.user.id %>
CC type: <%= @transaction.cc_type %>
Campaign type: <%= @transaction.transaction_type %>

We have scheduled this billing to be run in 30 days. 