<p> Dear <%= @user.full_name %>, </p>

<p> We are writting to inform you that you membership related to <%= @user.club.name %> has been canceled. </p>
    
<p> This was because apparently there is some problem with your credit card. Please, make sure to fix this issue, and let us know in order to resolve this problem as soon as possible. </p>


<p> You can contact with our user service team at: xxx-xxx-xxxx. </p>

<p>Regards.</p>