files:
  "/etc/awslogs/config/phoenix_platform.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/eb-docker/containers/eb-current-app/production.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/production.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/production.log*

      [/var/log/eb-docker/containers/eb-current-app/delayed_job.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/delayed_job.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/delayed_job.log*

      [/var/log/eb-docker/containers/eb-current-app/mandrill_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mandrill_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mandrill_client.log*

      [/var/log/eb-docker/containers/eb-current-app/elasticsearch.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/elasticsearch.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/elasticsearch.log*

      [/var/log/eb-docker/containers/eb-current-app/billing_for_today.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/billing_for_today.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/billing_for_today.log*

      [/var/log/eb-docker/containers/eb-current-app/members_cancel.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_cancel.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_cancel.log*

      [/var/log/eb-docker/containers/eb-current-app/newrelic_agent.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/newrelic_agent.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/newrelic_agent.log*

      [/var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log*
      
      [/var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_prospects_to_mailchimp.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_prospects_to_mailchimp.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_prospects_to_mailchimp.log*
      
      [/var/log/eb-docker/containers/eb-current-app/cron_rake.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/cron_rake.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/cron_rake.log*

      [/var/log/eb-docker/containers/eb-current-app/account_updater_send_file_to_process.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/account_updater_send_file_to_process.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/account_updater_send_file_to_process.log*

      [/var/log/eb-docker/containers/eb-current-app/billing_send_prebill.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/billing_send_prebill.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/billing_send_prebill.log*

      [/var/log/eb-docker/containers/eb-current-app/blacklist_users_unblacklisted_temporary.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/blacklist_users_unblacklisted_temporary.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/blacklist_users_unblacklisted_temporary.log*

      [/var/log/eb-docker/containers/eb-current-app/chargeback_report.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/chargeback_report.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/chargeback_report.log*

      [/var/log/eb-docker/containers/eb-current-app/count_members_in_clubs.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/count_members_in_clubs.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/count_members_in_clubs.log*

      [/var/log/eb-docker/containers/eb-current-app/exact_target_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/exact_target_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/exact_target_client.log*

      [/var/log/eb-docker/containers/eb-current-app/fetch_data.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/fetch_data.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/fetch_data.log*

      [/var/log/eb-docker/containers/eb-current-app/import_products_data_from_store.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/import_products_data_from_store.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/import_products_data_from_store.log*

      [/var/log/eb-docker/containers/eb-current-app/mailchimp_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mailchimp_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mailchimp_client.log*

      [/var/log/eb-docker/containers/eb-current-app/mailshimp_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mailshimp_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mailshimp_client.log*

      [/var/log/eb-docker/containers/eb-current-app/members_process_club_cash.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_process_club_cash.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_process_club_cash.log*

      [/var/log/eb-docker/containers/eb-current-app/members_process_email_sync_error.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_process_email_sync_error.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_process_email_sync_error.log*

      [/var/log/eb-docker/containers/eb-current-app/members_process_fulfillments.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_process_fulfillments.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_process_fulfillments.log*

      [/var/log/eb-docker/containers/eb-current-app/members_process_scheduled_membership_changes.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_process_scheduled_membership_changes.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_process_scheduled_membership_changes.log*

      [/var/log/eb-docker/containers/eb-current-app/members_process_sync.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_process_sync.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_process_sync.log*

      [/var/log/eb-docker/containers/eb-current-app/members_send_happy_birthday.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_send_happy_birthday.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_send_happy_birthday.log*

      [/var/log/eb-docker/containers/eb-current-app/members_send_pillar_emails.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_send_pillar_emails.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_send_pillar_emails.log*

      [/var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_members_to_mailchimp.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_members_to_mailchimp.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mkt_tools_sync_members_to_mailchimp.log*

      [/var/log/eb-docker/containers/eb-current-app/process_shipping_cost_reports.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/process_shipping_cost_reports.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/process_shipping_cost_reports.log*

      [/var/log/eb-docker/containers/eb-current-app/products_send_product_list_email.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/products_send_product_list_email.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/products_send_product_list_email.log*

      [/var/log/eb-docker/containers/eb-current-app/store_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/store_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/store_client.log*

