files:
  "/etc/awslogs/config/phoenix_platform.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/eb-docker/containers/eb-current-app/production.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/production.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/production.log*

      [/var/log/eb-docker/containers/eb-current-app/delayed_job.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/delayed_job.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/delayed_job.log*

      [/var/log/eb-docker/containers/eb-current-app/mandrill_client.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/mandrill_client.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/mandrill_client.log*

      [/var/log/eb-docker/containers/eb-current-app/elasticsearch.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/elasticsearch.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/elasticsearch.log*

      [/var/log/eb-docker/containers/eb-current-app/billing_for_today.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/billing_for_today.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/billing_for_today.log*

      [/var/log/eb-docker/containers/eb-current-app/members_cancel.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/members_cancel.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/members_cancel.log*

      [/var/log/eb-docker/containers/eb-current-app/newrelic_agent.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/newrelic_agent.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/newrelic_agent.log*

      [/var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log]
      log_group_name=`{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log"]]}`
      log_stream_name={instance_id}
      file=/var/log/eb-docker/containers/eb-current-app/destroy_testing_accounts.log*
