files:
  "/home/ec2-user/.ssh/authorized_keys":
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxS3eEJkmTnrdObLkjbtd5xEFSq2HyvvAXFZBOko4jxDgWSyrzZX1Md9XmCtwCmxSttF2NALjNWwKvo78eQKLNrkqaULi8odoZTtLJvsOAN1pJeRkoyFrQzUHfX3wHedRf8b7xLZ4FAeWNKBhp7XVHbB1W4cfH+dVZ3RgekG6UT7AUtkKOFMb9DdWPolx0wSXoF3agvHtkguWK94bf07q8tp2OjA9Yy4fDn9sliSjRWIJ8tBRdYzftkbNHz8uJ5nc6gFJwq4JzCpUR0A0WarWLKUrixSxn1DTMl6YHNkK2gMFCM9f4sDnWWtSlL90N3ZEFXmhLgwXbqiLd0TJXWGdJ ma_steven_comyn_us_east_2
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCyPaaCyLgwLYdpodg2VgXPWqcbeIH0S+lKWgwkh0p6S5PCPcn9kaPJahTerMrwZhyCRD77LBidyD1In07qy92D55sNCvdNx/pOzc76uXnyVgYL0uMbI0db1dGe9p4Ya+1mfkrFMIWEhX1UwF29LNei2iBkvfJvsJMoFjhiwXAhnYg8OgGFjodm7yMVFRcrLiojzUPXpN0+MNJwJOpB/pqPPslMn2gq5sDfmEQVKlAW5pDpnrUWPc9cnVkmvxV3Qi4xjMAgc04RDuuEUOuibj+W2ybzrTAHOwOZ+sTMxmJgGAmJTDNlh5E3PS+NseXlrPVWI7MsgN2yio6eKWjNFJid carla@Carlas-MacBook-Pro-2.local
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCZ1s7qyLNyIl23VB3LakNK9Y/UTObrDRAcF3arcjC5p26ccwlEdu8HzexFOPFbHN3Lx+0ptKVdhYOKXw7EufX7EyffcZDufVC5232DzvHtun5YtozX66y+uXuTTvRMQLUlG2UOldBI73fjhdVgB4tBEKYqa5Fx8fgKbrWleQwt+BC0G7zl39qCYN5sMpnQvXAu7gFzHvuyetEt8DPjfmUB2D+tfMsFkhQ7fa/GNKxkI+TOVhkN219BduYYrFl11FgJoH1eHIQeL6CqFCOv3ILbK8AC0uMnDDjV+JOcGugwN7YXQLvX5uORAgFNAb5yZIRNTjKMYXwFIWHdEOhyfokb carlosastrada@Carloss-MacBook-Pro.local
