<table id="operations_table" class="table table-bordered table-condensed dataTable" data-source="<%= operations_url(format: "json") %>">
  <thead>
    <tr>
      <th> ID </th>
      <th> Date </th>
      <th> Operation </th>
	  
      <th> Created by </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="dataTableSelect" class="in-front" >
  Filter by:
  <select class="dataselect" name="operation[operation_type]">
    <option value="all"> all </option>
    <option value="billing"> billing </option>
    <option value="profile"> profile </option>
    <option value="communications"> communications </option>
    <option value="fulfillments"> fulfillments </option>
    <option value='vip'> vip </option>    
    <option value="others"> others </option>
  </select>
</div>  

<script>
  $(document).ready(operation_user_functions(<%= Operation.datatable_columns.size %>));
</script>
