<%- flash.each do |type, message| %>
	<% if type.to_s != "timedout" %>
  <div class="<%= twitterized_type(type) %>">
    <a class="close" data-dismiss="alert">×</a>
    <p><%= message %></p>
  </div>
  <% end %>
<% end %>