<h1> <%= params[:controller].humanize.singularize %>: <%= @current_member.visible_id %> - <%= @current_member.first_name %> <%= @current_member.last_name %> 
	<% if @current_member.blacklisted? %>
  &nbsp;<small>Blacklisted! </small>
  <% end %>
</h1>