<h1> 
  <% unless params[:controller].include?('terms_of_membership') %>
    <%= params[:controller].humanize.singularize %>:
  <% end %>
  <%= @current_member.visible_id %> - 
  <%= @current_member.first_name %> <%= @current_member.last_name %> 
	<% if @current_member.blacklisted? %>
  &nbsp;<small>Blacklisted! </small>
  <% end %>
</h1>