<% if current_agent %>
  <div class="span3">
    <div class="well sidebar-nav">
      Hello <%= current_agent.email %> <br>
      <h3>Sidebar</h3>
      <% if @current_partner %>
        <ul class="nav nav-list">
          <li class="nav-header">General</li>
          <li><%= link_to "Domains", domains_path  %></li>
          <li><%= link_to "Clubs", clubs_path  %></li>
        </ul>
      <% end %>
    </div><!--/.well -->
  </div><!--/span-->
<% end %>
