defaults: &defaults
  exact_target:
    business_unit_for_test: '6177869'
  max_reactivations: 3
  days_to_wait_to_cancel_fulfillments: 2
  next_retry_on_missing_decline: 20.days
  number_of_retries_on_missing_decline: 4
  call_these_members_recipients: platformadmins@xagax.com
  email_to_send_product_list: 'platformadmins@xagax.com'
  email_to_use_on_action_mailer_as_recipient: platformadmins@xagax.com
  hot_rod_cancellation_emails: 'sonia@xagax.com,clawler@stoneacreinc.com'
  others_product: "SLOOPS"
  kit_card_product: 'KIT-CARD'
  lyris_service:
    domain: 'www.elabs10.com'
    url: '/API/mailing_list.html'
    password: 'ARcor86'
  mes_report_service:
    user: Stoneacrereports
    password: Letmein123
    url: https://www.merchante-solutions.com/
    path: /jsp/reports/report_api.jsp
  mes_aus_service:
    folder: <%= "#{Rails.root}/account_updater_files/mes/" %>
    url: https://www.merchante-solutions.com/
  operation_types: 
    #billing
    enrollment_billing: 100     
    membership_billing: 101   
    full_save: 102      
    change_next_bill_date: 103    
    credit: 104
    membership_billing_without_decline_strategy: 105
    membership_billing_hard_decline: 106
    membership_billing_soft_decline: 107
    credit_error: 108
    membership_billing_without_pgc: 109
    chargeback: 110
    error_on_enrollment_billing: 111
    no_recurrent_billing: 112
    no_recurrent_billing_with_error: 113
    membership_billing_hard_decline_by_max_retries: 114
    downgraded_because_of_hard_decline: 115
    downgraded_because_of_hard_decline_by_max_retries: 116
    membership_billing_without_decline_strategy_max_retries: 117
    membership_manual_cash_billing: 118
    membership_manual_check_billing: 119
    membership_billing_with_error: 120
    manual_billing_with_error: 121
    no_reccurent_billing_donation: 122
    no_recurrent_billing_donation_with_error: 123
    credit_error_gateway_differs_from_current: 124
    chargeback_rebutted: 125
    unprocessed_chargeback: 126
    #profile
    cancel: 200 
    future_cancel: 201
    save_the_sale: 202
    recovery: 203
    resend_fulfillment: 204
    recovery_needs_approval: 205
    enrollment_needs_approval: 206
    blacklisted: 207
    add_club_cash: 209
    deducted_club_cash: 210
    reset_club_cash: 211
    credit_card_in_use: 212
    credit_card_blacklisted: 213
    member_email_blacklisted: 214
    aus_recycle_credit_card: 215
    credit_card_updated: 216
    credit_card_activated: 217
    member_address_set_as_undeliverable: 218
    member_drupal_account_destroyed_batch: 219
    member_drupal_account_synced_batch: 220
    credit_card_added: 221
    renewal_scheduled: 222
    profile_updated: 223
    profile_update_error: 224
    phone_number_set_unreachable: 225
    member_approved: 226
    member_rejected: 227
    member_manually_synced_to_drupal: 228
    member_manually_synced_to_pardot: 229
    member_drupal_remote_id_set: 230
    member_manually_synced_to_drupal_error: 231
    reset_password: 232
    reset_password_error: 233
    resend_welcome: 234
    resend_welcome_error: 235
    credit_card_deleted: 236
    operation_updated: 237
    note_added: 238
    remote_club_cash_transaction: 239    
    downgrade_member: 240
    unblacklisted: 241
    member_manually_synced_to_exact_target: 242
    save_the_sale_through_api: 243
    bill_overdue_cancel: 244
    remote_club_cash_transaction_failed: 245
    tom_upgrade: 246
    #communication
    active_email: 300     
    prebill_email: 301    
    cancellation_email: 302 
    refund_email: 303 
    pillar_email: 304
    hard_decline_email: 305
    soft_decline_email: 306
    rejection_email: 307
    birthday_email: 308
    no_email_error: 309
    #fulfillments
    from_not_processed_to_in_process: 400
    from_not_processed_to_on_hold: 401
    from_not_processed_to_sent: 402
    from_not_processed_to_out_of_stock: 403
    from_not_processed_to_returned: 404
    from_not_processed_to_canceled: 405
    from_not_processed_to_bad_address: 406
    from_in_process_to_not_processed: 407
    from_in_process_to_on_hold: 408
    from_in_process_to_sent: 409
    from_in_process_to_out_of_stock: 410
    from_in_process_to_returned: 411
    from_in_process_to_canceled: 412
    from_in_process_to_bad_address: 413
    from_on_hold_to_not_processed: 414
    from_on_hold_to_in_process: 415
    from_on_hold_to_sent: 416
    from_on_hold_to_out_of_stock: 417
    from_on_hold_to_returned: 418
    from_on_hold_to_canceled: 419
    from_on_hold_to_bad_address: 420
    from_sent_to_not_processed: 421
    from_sent_to_in_process: 422
    from_sent_to_on_hold: 423
    from_sent_to_out_of_stock: 424
    from_sent_to_returned: 425
    from_sent_to_canceled: 426
    from_sent_to_bad_address: 427
    from_out_of_stock_to_not_processed: 428
    from_out_of_stock_to_in_process: 429
    from_out_of_stock_to_on_hold: 430
    from_out_of_stock_to_sent: 431
    from_out_of_stock_to_returned: 432
    from_out_of_stock_to_canceled: 433
    from_out_of_stock_to_bad_address: 434
    from_returned_to_not_processed: 435
    from_returned_to_in_process: 436
    from_returned_to_on_hold: 437
    from_returned_to_sent: 438
    from_returned_to_out_of_stock: 439
    from_returned_to_canceled: 440
    from_returned_to_bad_address: 441
    from_canceled_to_not_processed: 442
    from_canceled_to_in_process: 443
    from_canceled_to_on_hold: 444
    from_canceled_to_sent: 445
    from_canceled_to_out_of_stock: 446
    from_canceled_to_returned: 447
    from_canceled_to_bad_address: 448
    from_bad_address_to_not_processed: 449
    from_bad_address_to_in_process: 450
    from_bad_address_to_on_hold: 451
    from_bad_address_to_sent: 452
    from_bad_address_to_out_of_stock: 453
    from_bad_address_to_returned: 454
    from_bad_address_to_canceled: 455
    automatic_recycle_credit_card: 456
    #vip
    vip_event_registration: 900
    vip_event_cancelation: 901 
    #other
    imported_into_platform: 1000
    others: 1099
    #not_visible
    et_timeout_create: 5000
    et_timeout_update: 5001
    et_timeout_retrieve: 5002
    et_timeout_destroy: 5003
    et_timeout_trigger_create: 5004
    et_timeout_find: 5005
  error_codes:
    success: '000'
    wrong_data: '100'
    not_found: '401'
    member_data_invalid: '405'
    prospect_data_invalid: '403'
    member_not_saved: '404'
    blacklisted: '406'
    cant_recover_member: '407'
    member_enrollment_error: '408'
    member_already_active: '409'
    club_is_not_enable_for_new_enrollments: '410'
    unrecoverable_error: '411'
    club_cash_cant_be_fixed: '412'
    club_does_not_support_club_cash: '413'
    duplicate_transaction: '900'
    not_supported: '902'
    product_empty: '903'
    product_out_of_stock: '904'
    product_does_not_exists: '905'
    invalid_credit_card: '9506'
    credit_card_in_use: '9507'
    credit_card_blacklisted: '9508'
    credit_card_blank: '9509'
    credit_card_gateway_differs_from_current: '9510'
    credit_amount_invalid: '9785'
    member_not_expecting_billing: '9787'
    refund_invalid: '9788'
    transaction_gateway_differs_from_current: '9786'
    manual_billing_with_less_amount_than_permitted: '9880'
    manual_billing_error: '9881'
    membership_billing_error: '9882' 
    no_reccurent_billing_error: '9883'
    member_club_dont_allow: '9884'
    nothing_to_change_tom: '9885'
    member_status_dont_allow: '9886'
    no_amount: '9887'    
    member_already_set_wrong_address: '9888'
    member_set_wrong_address_error: '9889'
    cancel_reason_blank: 9990
    cancel_date_blank: 9991
    could_not_get_member_list: 9992
    could_not_change_next_bill_date: 9993
    next_bill_date_prior_actual_date: 9994
    next_bill_date_blank: 9995
    credit_card_blank_without_grace: '9997'
    billing_date_not_reached: '9999'
    member_email_blacklisted: '9996'
    member_could_no_be_blacklisted: '9998'
    tom_wihtout_gateway_configured: '9789'
    tom_to_downgrade_belongs_to_different_club: '9790'
    club_cash_transaction_not_successful: '9791'
    fulfillment_error: '9801'
    fulfillment_reason_blank: '9802'
    fulfillment_is_renwed: '9803'
    operation_not_saved: '9900'
    payment_gateway_time_out: '9901'
    payment_gateway_error: '9900'
  fulfillment_products:
    all: All
    kit_card: Kit - Card
    sloop: Sloop
  wrong_address:
    undeliverable_all: 'All'
    undeliverable_sloop: 'Sloop'
    undeliverable_kit_card: 'Kit - Card'
  wrong_phone_number:
      unreachable: 'Unreachable'
      wrong_phone_number: 'Wrong phone'
  type_of_phone_number:
      home: 'home'
      mobile: 'mobile'
      other: 'other'
  validations:
    supported_countries:
    - ca
    - us
    defaults:
      club_id:
        presence: true
      # gender:
      #   presence: true
      type_of_phone_number:
        # presence: true
        inclusion:
          :within:  # this needs to be a Symbol
          - home 
          - mobile
          - other
          :allow_nil: true
          :allow_blank: true
      phone_country_code:
        presence: true
        numericality: 
          :only_integer: true
        length:
          :minimum: 1
          :maximum: 4
      phone_area_code:
        presence: true
        numericality: 
          :only_integer: true
        length: 
          :minimum: 1
          :maximum: 8
      phone_local_number:
        presence: true
        numericality: 
          :only_integer: true
        length: 
          :minimum: 1
          :maximum: 8
    sets:
      western:
        first_name:
          presence: true
          format: !ruby/regexp /^[a-zA-Z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð '-.,]+$/
          # format: !ruby/regexp /^[a-zA-Z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð '-.,]+$/u
        last_name:
          presence: true
          format: !ruby/regexp /^[a-zA-Z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð '-.,]+$/
        address:
          format: !ruby/regexp /^[A-Za-z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð\/ '-.,#]+$/
        state:
          presence: true
          format: !ruby/regexp /^[A-Za-z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð '-.,]+$/
        city:
          presence: true
          format: !ruby/regexp /^[A-Za-z0-9àáâäãåèéêëìíîïòóôöõøùúûüÿýñçčšžÀÁÂÄÃÅÈÉÊËÌÍÎÏÒÓÔÖÕØÙÚÛÜŸÝÑßÇŒÆČŠŽ∂ð '-.,]+$/
    countries:
#     "US"=>"^\d{5}([\-]?\d{4})?$",
#     "UK"=>"^(GIR|[A-Z]\d[A-Z\d]??|[A-Z]{2}\d[A-Z\d]??)[ ]??(\d[A-Z]{2})$",
#     "DE"=>"\b((?:0[1-46-9]\d{3})|(?:[1-357-9]\d{4})|(?:[4][0-24-9]\d{3})|(?:[6][013-9]\d{3}))\b",
#     "CA"=>"^([ABCEGHJKLMNPRSTVXY]\d[ABCEGHJKLMNPRSTVWXYZ])\ {0,1}(\d[ABCEGHJKLMNPRSTVWXYZ]\d)$",
#     "FR"=>"^(F-)?((2[A|B])|[0-9]{2})[0-9]{3}$",
#     "IT"=>"^(V-|I-)?[0-9]{5}$",
#     "AU"=>"^(0[289][0-9]{2})|([1345689][0-9]{3})|(2[0-8][0-9]{2})|(290[0-9])|(291[0-4])|(7[0-4][0-9]{2})|(7[8-9][0-9]{2})$",
#     "NL"=>"^[1-9][0-9]{3}\s?([a-zA-Z]{2})?$",
#     "ES"=>"^([1-9]{2}|[0-9][1-9]|[1-9][0-9])[0-9]{3}$",
#     "DK"=>"^([D-d][K-k])?( |-)?[1-9]{1}[0-9]{3}$",
#     "SE"=>"^(s-|S-){0,1}[0-9]{3}\s?[0-9]{2}$",
      us:
        sets:
        - western
        zip:
          presence: true
          format: 
            :with: !ruby/regexp /^\d{5}([\-]?\d{4})?$/
            :message: 'The zip code is not valid for the selected country.'
      ca:
        sets:
        - western
        zip:
          presence: true
          format: 
            :with: !ruby/regexp /^[ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy]{1}[0-9]{1}[A-Za-z]{1}\s?[0-9]{1}[A-Za-z][0-9]{1}$/
            :message: 'The zip code is not valid for the selected country.'

development:
  <<: *defaults
  xxxyyyzzz: reibel3y5estrada8


test:
  <<: *defaults
  xxxyyyzzz: reibel3y5estrada8


production:
  <<: *defaults
  call_these_members_recipients: 'ndavid@stoneacreinc.com,lhabig@stoneacreinc.com,rcorner@stoneacreinc.com,loesing@stoneacreinc.com,kflynn@stoneacreinc.com'
  email_to_use_on_duplicated_email_sync_error: clawler@stoneacreinc.com
  email_to_send_product_list: 'kflynn@stoneacreinc.com,tbrady@stoneacreinc.com'
  hot_rod_cancellation_emails: 'ggoldberg@zinio.com'
  mes_report_service:
    user: Stoneacrereports
    password: do3!lAjo5
    url: https://www.merchante-solutions.com/
    path: /jsp/reports/report_api.jsp
  mes_aus_service:
    folder: <%= "#{Rails.root}/mes_account_updater_files" %>
    url: https://www.merchante-solutions.com/
  xxxyyyzzz: 7faf4f991bc44841a00423b8db9602bb


prototype:
  <<: *defaults
  xxxyyyzzz: reibel3y5estrada8

staging:
  <<: *defaults
  email_to_use_on_duplicated_email_sync_error: clawler@stoneacreinc.com
  xxxyyyzzz: reibel3y5estrada8

demo:
  <<: *defaults
  xxxyyyzzz: reibel3y5estrada82012

prototype_pantheon:
  <<: *defaults
  xxxyyyzzz: reibel3y5estrada8

staging_pantheon:
  <<: *defaults
  email_to_use_on_duplicated_email_sync_error: clawler@stoneacreinc.com
  xxxyyyzzz: reibel3y5estrada8
