/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require bootstrap_and_overrides
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery.ui.datepicker
 *= require table_sorter_style
 *= require dataTables/jquery.dataTables.bootstrap
 *= require dataTables/src/demo_table_jui
 */


form .clearfix:before, form .clearfix:after {
  display: inline;
}

.card_expired{
  background-color: red;
}

.ligthgreen{
  background-color: #90EE90;
}

.red{
  color: #FFFFFF;
  background-color: red;
}

.yellow{
  background-color: yellow;
}

.blacklisted{
  background-color: #EEE8CD;
}

.ligthgrey{
  background-color: #F5F5F5;
}


.help {position: relative}​ /*Without this the popover won't work.*/

.comment {height:auto; 
        display:inline-block; 
        word-wrap: break-word }

.odd{
  background-color: #E0EEEE;
}

.even{
  background-color: #FFFFFF;
}

label.error{
  float:right;
  width:70%;
  text-align:left;
}

div.dataTables_length select {
    float: right;
}

div.dataTables_filter label{
    text-align:left;
    vertical-align:text-top;
    width:270px;
}

div.dataTables_filter input {
    float: right;    
}

#dataTableSelect{
  height:auto;
  width:auto;
  float:left; 
}

#operations_table_info{
  width:33%;
}

.label.label-secondary {
  float: right;
  font-size: 70%;
  margin-top: 0.1em;
}

.tab-toolbar {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.btn_on_header {
  float: right; 
  margin-top: -25px;
}

.box_title {
  background-color: #B0D3E6;
}

.datepicker_for_search_nbd {
  width: 80px;
}

.datepicker_for_search_billed_date{
  width: 80px;
}

.btn-large-w {
  width: 160px; 
}

.hidden_table_border, .hidden_table_border th, .hidden_table_border td   {
  border-style: hidden;
}

.tab_body_content {
  padding: 1%;
 }

.tab_body_padding {
	padding: 9px;	
}

.required_asterisk:after { content:" *"; }

#ajax_loader {
  position: fixed;
  background-color: #EBE9EA;
  text-align: left;
  border-radius: 6px 6px 6px 6px;
  width: 120px;
  height: 35px;
  border: 2px solid #D2D2D2;
  overflow: hidden; 
  left: 45%;
  top: 0px;
  display: none;
  z-index: 200000;
}

#ajax_loader p{
  position:absolute;
  float:left;
  font-size: 20px;
  font-weight: bold;
  top: 25%;
  left: 5px;
}

.help_div{
  background-color: #EBE9EA;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid #D2D2D2;
}

.spinner{
  float:right;
  top: 18px;
  right: 18px;
}

.dataTables_wrapper .top, .dataTables_wrapper .bottom {
	padding: 0;
	background-color: transparent;
	border: none;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: center;
}

#partners_table_wrapper.dataTables_wrapper .dataTables_paginate,
#agents_table_wrapper.dataTables_wrapper .dataTables_paginate,
#my_clubs_table_wrapper.dataTables_wrapper .dataTables_paginate,
#terms_of_memberships_table_wrapper.dataTables_wrapper .dataTables_paginate {
  float: left;
}

#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_filter.dataTables_filter,
#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_length,
#club_cash_transactions_table_wrapper.dataTables_wrapper .dataTables_paginate {
	width: 32%;
}

#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_filter label {
	width: 290px;
}

div.dataTables_length label {
	width: 170px;
}

#members.tab-pane .pagination {
	margin: 0em 0;
}

.div-table{
  margin-top:25px;
}

.div-table .title{
  border-bottom: solid;
}

.input-prepend .add-on, .input-append .add-on { margin-top: -10px; }

