/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require dataTables/src/demo_table_jui
*/
form .clearfix:before, form .clearfix:after {
  display: inline;
}

.card_expired{
	color: #FFFFFF;
	background-color: red;
}

.ligthgreen{
	background-color: #90EE90;
}

.red{
	color: #FFFFFF;
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.blacklisted{
	background-color: #EEE8CD;
}

.help {position: relative}​ /*Without this the popover won't work.*/

.comment {height:auto; 
	      display:inline-block; 
	      word-wrap: break-word }

.odd{
	background-color: #E0EEEE;
}

.even{
	background-color: #FFFFFF;
}

label.error{
	float:right;
	width:70%;
	text-align:left;
}

div.dataTables_length select {
    float: right;
}

div.dataTables_filter label{
    text-align:left;
    vertical-align:text-top;
    width:270px;
}

div.dataTables_filter input {
    float: right;    
}

#dataTableSelect{
	height:auto;
	width:auto;
	float:left;
}

#operations_table_info{
	width:auto;
}