/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 *= require united/united
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require jquery.ui.datepicker
 *= require dataTables/jquery.dataTables.bootstrap
 *= require dataTables/src/demo_table_jui
 *= require united/override
*/

.dataTables_wrapper .top, .dataTables_wrapper .bottom {
	padding: 0;
	background-color: transparent;
	border: none;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: center;
}

#partners_table_wrapper.dataTables_wrapper .dataTables_paginate,
#agents_table_wrapper.dataTables_wrapper .dataTables_paginate,
#my_clubs_table_wrapper.dataTables_wrapper .dataTables_paginate,
#terms_of_memberships_table_wrapper.dataTables_wrapper .dataTables_paginate {
	float: left;
}

#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_filter.dataTables_filter,
#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_length,
#club_cash_transactions_table_wrapper.dataTables_wrapper .dataTables_paginate {
	width: 32%;
}

#club_cash_transactions_table_wrapper.dataTables_wrapper #club_cash_transactions_table_filter label {
	width: 290px;
}

div.dataTables_length label {
	width: 170px;
}

#users.tab-pane .pagination {
	margin: 0em 0;
}
