<%- model_class = @product.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></h1>
<%= form_for @product, :url => product_path(:id => @product.id), :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>	