<div id='merchandise_box' class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t('checkout.checkout_page.merchandise') %></h3>
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class='center-block col-xs-12'>
        <%= image_tag @product.image_url, class: 'img-responsive center-block', :alt => @product.name if @product.present? %>
      </div>
    </div>
    <div class="row">
      <div class='col-xs-12 text-center'>
        <h4><strong><%= @product.name if @product.present? %></strong></h4>
      </div>
    </div>
  </div>
</div>

<div id='todays_total_box' class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t('checkout.checkout_page.todays_total') %></h3>
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= @product.name if @product.present? %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(0) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= t('checkout.checkout_page.bonus_gift') %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(0) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><p><%= t('checkout.checkout_page.shipping_and_processing') %></p></div>
      <div class='col-xs-5 text-right'><p><%= number_to_currency(@campaign.enrollment_price) %></p></div>
    </div>
    <div class="row">
      <div class='col-xs-12 text-center'><hr /></div>
    </div>
    <div class="row">
      <div class='col-xs-7 text-left'><h4><%= t('checkout.checkout_page.todays_total') %></h4></div>
      <div class='col-xs-5 text-right'><h4><%= number_to_currency(@campaign.enrollment_price) %></h4></div>
    </div>
  </div>
</div>
