<div class='panel panel-info'>
  <div class='panel-body'>
    <p>
      Delivered to: <%= @prospect.last_name %>, <%= @prospect.first_name %><br />
      Delivered in: <%= @campaign.delivery_date.html_safe %>
    </p>
  </div>
</div>
