<div id='merchandise_box' class='panel panel-info'>
  <div class='panel-heading'>
    <h3 class='panel-title'><%= t('checkout.checkout_page.merchandise') %></h3>
  </div>
  <div class='panel-body'>
    <div class="row">
      <div class='center-block col-xs-12'>
        <%= image_tag @product.image_url, class: 'img-responsive center-block', :alt => @product.name %>
      </div>
    </div>
    <div class="row">
      <div class='col-xs-12 text-center'>
        <h4><strong><%= @product.name %></strong></h4>
      </div>
    </div>
  </div>
</div>

