<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Operations</th>
    </tr>
  </thead>
  <% operations.each do |operation| %>
  <tr>
    <td>
      <%= I18n.l operation.operation_date, :format => :long %>
    </td>
    <td>
      <%= link_to operation.description[0..50], "#" %>
    </td>
  </tr>
  <% end %>
  
</table>
<%= will_paginate operations %>