<table class="table table-bordered datatable_only_sorting">
  <thead>
    <tr>
      <th> Created by </th>
      <th> Operation </th>
      <th> Notes </th>
      <th> Date </th>
    </tr>
  </thead>
  <tbody>
    <% operations.each do |operation| %>
    <tr>
      <td>
        <%= operation.created_by.username %>
      </td>
      <td>
        <%= link_to operation.description[0..50], "#" %>
      </td>
      <td>
        <%= operation.notes[0..50] if operation.notes != nil %> 
      </td>
      <td>
        <%= I18n.l operation.operation_date, :format => :long %>
      </td>  
    </tr>
    <% end %>
  </tbody>
</table>
<%#= will_paginate operations %>