<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Transactions</th>
    </tr>
  </thead>
  <% transactions.each do |transaction| %>
  <tr>
    <td>
      <%= l(transaction.created_at) %>
    </td>
    <td>
      <%= link_to transaction.response_result[0..50], "#" %>
    </td>
    <td>
      <%= number_to_currency transaction.amount %>
    </td>
  </tr>
  <% end %>
  
</table>
<%= will_paginate transactions %>